$grisN: rgba(255,255,255, 0.7);
                        /* Nosotros */
.hn{
    background-color: $grisN;
    border: inset 2px gray ;
    font-size: 1.5rem;
    width: 100%;
}
.nosotros{
    background-image: url(/multimedia/playa.jpg);/* Uso de Background Img*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
        padding: 50px 30px;
	    margin-top: 50px;
    h3{
        @extend .hn;
        text-align: center; 
        word-spacing: 2px;
        border-bottom: inset 0px $grisN ;
    }
    p{
        @extend .hn;
        border: outset 2px gray;
    }
}
                                /*---------------------*/